In [189]:
import pandas as pd
fp = 'https://bit.ly/felonies-dataset'
df = pd.read_csv(fp)
df.shape

(1000, 3)

In [190]:
df.dtypes

Date of Arrest    object
Age                int64
Convicted         object
dtype: object

## La méthode map de Pandas

In [191]:
df['DoA'] = pd.to_datetime(df['Date of Arrest'])

In [192]:
df.dtypes

Date of Arrest            object
Age                        int64
Convicted                 object
DoA               datetime64[ns]
dtype: object

In [11]:
df.drop("Date of Arrest", axis="columns", inplace=True)

In [12]:
df.dtypes

Age                   int64
Convicted            object
DoA          datetime64[ns]
dtype: object

In [193]:
#df.DoA.dt.dayofweek

In [16]:
dow2weektime = {0:'DEBUT', 1:'DEBUT',2:'MILIEU',3:'MILIEU',4:'MILIEU',5:'WEEKEND',6:'WEEKEND'}

In [194]:
#df.DoA.dt.dayofweek.map(dow2weektime)

une liste un dictionnaire

In [18]:
id2str = ['MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY']

In [31]:
str2id = {value:idx for idx, value in enumerate(id2str)}
id2str = {idx:value for idx, value in enumerate(id2str)}

In [33]:
str2id[id2str[0]]

0

In [195]:
#df['DoA'].dt.dayofweek.map(id2str)

In [36]:
periodSemaine = {'FRIDAY':'MILIEU', 'MONDAY':'DEBUT','SATURDAY':'WEEKEND','SUNDAY':'WEEKEND','THURSDAY':'MILIEU','WEDNESDAY':'MILIEU','TUESDAY':'DEBUT'}

In [48]:
df['Period Semaine'] = df['DoA'].dt.dayofweek.map(id2str).map(periodSemaine)

In [23]:
jour = str2id

In [24]:
jour['MONDAY']

0

## Convertir la colonne en type catégorie

In [46]:
ordre = ['DEBUT', 'MILIEU', 'WEEKEND']

In [63]:
df['Period Semaine'] = (df['Period Semaine'].astype('category')).cat.reorder_categories(ordre).cat.as_ordered()

## Convertir colonne "category" en "int [ORDINAL]"

In [ ]:
df['Period Semaine'] = df['Periode Semaine'].cat.codes

## PICKLE

In [25]:
import pickle

In [29]:
chemin = 'dictionnaire.pkl'

# en écriture
with open(chemin, 'wb') as f:
    pickle.dump(id2str, f)
    
# en lecture
with open(chemin, 'rb') as f:
    objet = pickle.load(f)

In [30]:
objet

['MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY']

## Gérer les cycles

In [68]:
import pandas as pd
fp = 'https://bit.ly/felonies-dataset'
df = pd.read_csv(fp)

df.rename(columns={"Date of Arrest": "DoA"}, inplace=True)

df.dtypes

DoA          object
Age           int64
Convicted    object
dtype: object

In [70]:
df['DoA'] = pd.to_datetime(df['DoA'])

In [97]:
#df['DoA'].dt.day

In [73]:
df['DoA'].dt.day.max()

31

In [74]:
df['DoA'].dt.month.max()

12

In [75]:
colonne_temporaire = df['DoA'].dt.month * 100 + df['DoA'].dt.day

In [96]:
#colonne_temporaire

In [84]:
AVANT_JANVIER= 0
AVANT_PRINTEMPS= 320
AVANT_ETE= 620
AVANT_AUTOMNE= 920
AVANT_HIVER= 1220
FIN_ANNEE= 1232
bins=[AVANT_JANVIER,AVANT_PRINTEMPS,AVANT_ETE,AVANT_AUTOMNE,AVANT_HIVER,FIN_ANNEE]

In [87]:
saisons = pd.cut(colonne_temporaire, bins=bins ,labels=['HIVER', 'PRINTEMPS', 'ETE', 'AUTOMNE', 'HIVER2'])

In [88]:
saisons = saisons.str.replace('2', '')
saisons.unique()

array(['ETE', 'AUTOMNE', 'PRINTEMPS', 'HIVER'], dtype=object)

In [89]:
saisons.head()

0          ETE
1      AUTOMNE
2          ETE
3    PRINTEMPS
4    PRINTEMPS
Name: DoA, dtype: object

In [91]:
ordre = ['HIVER', 'PRINTEMPS', 'ETE', 'AUTOMNE']
saisons = (saisons.astype('category')).cat.reorder_categories(ordre).cat.as_ordered()

In [98]:
#saisons

In [93]:
saisons.head()

0          ETE
1      AUTOMNE
2          ETE
3    PRINTEMPS
4    PRINTEMPS
Name: DoA, dtype: category
Categories (4, object): [HIVER < PRINTEMPS < ETE < AUTOMNE]

## with time

In [94]:
df.head()

                  DoA  Age Convicted
0 2014-07-16 14:59:18   77       Yes
1 2002-12-19 22:17:59   28       Yes
2 1994-06-28 09:31:40   21        No
3 1985-05-14 09:52:17   45       Yes
4 1985-05-25 14:06:28   39       Yes

### Convertit en secondes

In [122]:
colonne_temporaire = df['DoA'].dt.hour * 3600 + df['DoA'].dt.minute * 60 + df['DoA'].dt.second

In [113]:
AVANT_DEBUT= 0
AVANT_MATIN= 12240
AVANT_AM =79860
AVANT_NUIT= 79919
FIN= 86400

bins=[AVANT_DEBUT,AVANT_MATIN,AVANT_AM,AVANT_NUIT,FIN]

In [123]:
time = pd.cut(colonne_temporaire, bins=bins ,labels=['NUIT', 'MATIN', 'AM', 'NUIT2'])

In [120]:
time = time.str.replace('2', '')
time.head()

0    MATIN
1     NUIT
2    MATIN
3    MATIN
4    MATIN
Name: DoA, dtype: object

### Convertit avec *1000 et *100

In [200]:
colonne_temporaire2 = df['DoA'].dt.hour * 10000 + df['DoA'].dt.minute * 100 + df['DoA'].dt.second

In [201]:
AVANT_DEBUT= 0
AVANT_MATIN= 32400
AVANT_AM = 161200
AVANT_NUIT= 221200
FIN= 235959

bins=[AVANT_DEBUT,AVANT_MATIN,AVANT_AM,AVANT_NUIT,FIN]

In [202]:
time2 = pd.cut(colonne_temporaire2, bins=bins ,labels=['NUIT', 'MATIN', 'AM', 'NUIT2'])

In [203]:
time2 = time.str.replace('2', '')
time2.head()

0    MATIN
1    MATIN
2       AM
3     NUIT
4    MATIN
Name: time, dtype: object

## Autre dataset

In [176]:
import pandas as pd
fp = 'https://bit.ly/vintage-auctions'
df2 = pd.read_csv(fp)
df2.shape

(1000, 6)

In [177]:
df2.head()

,tx id,time,auction,color,shirt size,condition
0,8dbf3cfa48b25f32e300f279bb4163c67d5c60cd,3:36 PM,$17.18,Puce,S,used
1,8ccebfdb1a41830bdcc0e926531f3215986b3a90,9:03 AM,$15.19,Aquamarine,L,never worn
2,ae85a421a91cec8baf16ff1e45fb3e239130b584,7:42 PM,$7.58,Violet,L,used
3,85e44f09a04a79182befcfd55e288a855f633e81,10:28 PM,$9.10,Goldenrod,XS,NaN
4,ff750bfca4910cfa7f538fbe5463457839021680,6:38 AM,$8.22,NaN,2XL,used

In [206]:
df2.dtypes

tx id                 object
time          datetime64[ns]
auction               object
color                 object
shirt size            object
condition             object
dtype: object

In [178]:
df2['time'] = pd.to_datetime(df2['time'])

In [207]:
df2.tail()

,tx id,time,auction,color,shirt size,condition
995,6fa16b110f53367cf15e6e1dcffdcb4c2653f1ab,2020-09-24 09:56:00,$5.79,Violet,2XL,NaN
996,2b7b6cbc2224502c7137262575e97a450b336fc2,2020-09-24 11:31:00,$14.07,Purple,S,Used
997,7f2a5141de8a7f752f8f98722393ffa3b0fb1e7a,2020-09-24 06:25:00,$17.63,Yellow,XS,used
998,c4549687dee4d3061fd3c82433367bea083d4d05,2020-09-24 02:22:00,$17.00,Yellow,L,Used
999,abf227d09fe37b3e333b419e0854c6c2fd1caa50,2020-09-24 19:47:00,$17.05,Indigo,XL,used

In [196]:
colonne_temporaire = df2['time'].dt.hour * 10000 + df2['time'].dt.minute * 100 + df2['time'].dt.second

In [197]:
AVANT_DEBUT= 0
AVANT_MATIN= 32400
AVANT_AM = 161200
AVANT_NUIT= 221200
FIN= 235959

bins=[AVANT_DEBUT,AVANT_MATIN,AVANT_AM,AVANT_NUIT,FIN]

In [198]:
time = pd.cut(colonne_temporaire, bins=bins ,labels=['NUIT', 'MATIN', 'AM', 'NUIT2'])

In [199]:
time = time.str.replace('2', '')
time.head()

0    MATIN
1    MATIN
2       AM
3     NUIT
4    MATIN
Name: time, dtype: object

In [210]:
df2['auction'] = df2['auction'].str.slice(start=1)

In [213]:
df2['auction'] = df2['auction'].astype('float')

In [215]:
df2.dtypes

tx id                 object
time          datetime64[ns]
auction              float64
color                 object
shirt size            object
condition             object
dtype: object