In [1]:
import pandas as pd
fp = 'https://bit.ly/felonies-dataset'
df = pd.read_csv(fp)
df.shape

(1000, 3)

## A la dure

In [3]:
df.rename(columns={"Date of Arrest": "DoA"}, inplace=True)

In [4]:
df['DoA'].min()

'1968-01-10 02:41:49'

In [6]:
df['DoA'].max()

'2020-01-28 13:33:46'

In [7]:
df.head()

                   DoA  Age Convicted
0  2014-07-16 14:59:18   77       Yes
1  2002-12-19 22:17:59   28       Yes
2  1994-06-28 09:31:40   21        No
3  1985-05-14 09:52:17   45       Yes
4  1985-05-25 14:06:28   39       Yes

In [9]:
df["YoA"] = df.DoA.str.slice(0,4)

## A la cool

In [12]:
df['DoA'] = pd.to_datetime(df['DoA'])

In [13]:
df.dtypes

DoA          datetime64[ns]
Age                   int64
Convicted            object
YoA                  object
dtype: object

In [17]:
df['DoA'].dt.year
df['DoA'].dt.day
df['DoA'].dt.dayofweek

0      2
1      3
2      1
3      1
4      5
5      6
6      1
7      0
8      2
9      2
10     1
11     6
12     6
13     3
14     6
15     3
16     4
17     5
18     1
19     5
20     0
21     2
22     2
23     0
24     6
25     3
26     0
27     4
28     5
29     4
      ..
970    2
971    0
972    4
973    1
974    5
975    4
976    4
977    2
978    0
979    6
980    5
981    2
982    6
983    2
984    3
985    4
986    4
987    5
988    2
989    2
990    1
991    3
992    3
993    0
994    4
995    1
996    0
997    1
998    0
999    6
Name: DoA, Length: 1000, dtype: int64

In [19]:
labels = ['six', 'seven', 'eigh', 'nine', 'zero', 'ten','twen']
labels = [l+'ties' for l in labels]
labels

['sixties',
 'seventies',
 'eighties',
 'nineties',
 'zeroties',
 'tenties',
 'twenties']

In [22]:
from datetime import datetime

obj_dt = datetime(year=1, month=1, day=1)
obj_dt.weekday()

0

In [23]:
bins = list(range(1959, 2030, 10))

In [24]:
pd.cut(df['DoA'].dt.year, bins=bins, labels=labels)

0        tenties
1       zeroties
2       nineties
3       eighties
4       eighties
5       eighties
6       eighties
7       zeroties
8       nineties
9        tenties
10     seventies
11     seventies
12      zeroties
13      nineties
14      eighties
15      zeroties
16       tenties
17      nineties
18     seventies
19      eighties
20      nineties
21     seventies
22      nineties
23       tenties
24      zeroties
25      zeroties
26      zeroties
27      zeroties
28      zeroties
29     seventies
         ...
970     nineties
971     nineties
972      tenties
973    seventies
974     eighties
975     zeroties
976     eighties
977    seventies
978     zeroties
979     nineties
980     eighties
981    seventies
982     zeroties
983      sixties
984      tenties
985      sixties
986      tenties
987     nineties
988    seventies
989     nineties
990    seventies
991      tenties
992     nineties
993      tenties
994    seventies
995     nineties
996     nineties
997     eighties
998     nineties
999     nineties
Name: DoA, Length: 1000, dtype: category
Categories (7, object): [sixties < seventies < eighties < nineties < zeroties < tenties < twenties]

In [25]:
year = lambda y: datetime(year=y, month=1, day=1)
bins = [year(b) for b in bins]
pd.cut(df['DoA'], bins=bins, labels=labels)

0        tenties
1       zeroties
2       nineties
3       eighties
4       eighties
5       eighties
6       nineties
7       zeroties
8       nineties
9        tenties
10     seventies
11     seventies
12      zeroties
13      nineties
14      eighties
15      zeroties
16       tenties
17      nineties
18     seventies
19      eighties
20      nineties
21     seventies
22      nineties
23      twenties
24      zeroties
25      zeroties
26      zeroties
27      zeroties
28      zeroties
29     seventies
         ...
970     nineties
971     nineties
972      tenties
973    seventies
974     eighties
975     zeroties
976     eighties
977    seventies
978     zeroties
979     nineties
980     eighties
981    seventies
982     zeroties
983    seventies
984      tenties
985      sixties
986      tenties
987     nineties
988    seventies
989     nineties
990     eighties
991      tenties
992     nineties
993      tenties
994    seventies
995     nineties
996     nineties
997     eighties
998     zeroties
999     nineties
Name: DoA, Length: 1000, dtype: category
Categories (7, object): [sixties < seventies < eighties < nineties < zeroties < tenties < twenties]