In [10]:
import pandas as pd
fp = "https://bit.ly/bitcoin-purchases2"
df = pd.read_csv(fp)
df.head()

                      bitcoin address wire amount       credit card
0  1J9DVMtgvnPv4KGHL2XSzoTSt5cBBL1DXe    £8356.92  3543456448666398
1  1HaiVQbzCTs7t1K1fckYEUi9t8ERBFRR7Q     €311,06  3584615208479876
2  1NGPjXfDScEUSZYajAzCkxaVApTbBHC7jP    €2032,44  6370577480710876
3  15cSYRTbcrxYinxNxk7VbkPLZG8nypdjy6    ¥8155.74  4508652385157398
4  18j2qG1DH9YduJiBiccAq8Ak897G3E4JyZ    £3265.44   374622922103592

In [11]:
df["wire amount"] = df["wire amount"].str.replace(',', '.')

In [13]:
df.head(10)

                      bitcoin address wire amount       credit card
0  1J9DVMtgvnPv4KGHL2XSzoTSt5cBBL1DXe    £8356.92  3543456448666398
1  1HaiVQbzCTs7t1K1fckYEUi9t8ERBFRR7Q     €311.06  3584615208479876
2  1NGPjXfDScEUSZYajAzCkxaVApTbBHC7jP    €2032.44  6370577480710876
3  15cSYRTbcrxYinxNxk7VbkPLZG8nypdjy6    ¥8155.74  4508652385157398
4  18j2qG1DH9YduJiBiccAq8Ak897G3E4JyZ    £3265.44   374622922103592
5  17js1X5yhuGgcianZctDuZCYN9MhZjemMJ    $7582.61  3548758788344311
6  13hzSfBxdQDs4qQTBKJefZNa3BBBUpdsQM    $6091.71  5411272786938057
7  13FxRMKPxyjRuHXgxPJyJxuu6UFB1PMHbJ    £4018.08  3574760573036422
8  1DupqrXnspxMEL6RRfFSL7Fzbce3V3uBaw    £7719.31  5007662202119789
9  18wq7MMetvLQ12S5aVSFp1ztkJASy2ADrH     ¥657.75  5108759983537631

1 Extraire les DEVISES

In [ ]:
df['devise'] = df['wire amount'].str.get(0)

2 Supprimer le signe qui gère la conversion

In [15]:
df["wire amount"] = df["wire amount"].str.slice(start=1)

In [16]:
df.head(10)

                      bitcoin address wire amount       credit card
0  1J9DVMtgvnPv4KGHL2XSzoTSt5cBBL1DXe     8356.92  3543456448666398
1  1HaiVQbzCTs7t1K1fckYEUi9t8ERBFRR7Q      311.06  3584615208479876
2  1NGPjXfDScEUSZYajAzCkxaVApTbBHC7jP     2032.44  6370577480710876
3  15cSYRTbcrxYinxNxk7VbkPLZG8nypdjy6     8155.74  4508652385157398
4  18j2qG1DH9YduJiBiccAq8Ak897G3E4JyZ     3265.44   374622922103592
5  17js1X5yhuGgcianZctDuZCYN9MhZjemMJ     7582.61  3548758788344311
6  13hzSfBxdQDs4qQTBKJefZNa3BBBUpdsQM     6091.71  5411272786938057
7  13FxRMKPxyjRuHXgxPJyJxuu6UFB1PMHbJ     4018.08  3574760573036422
8  1DupqrXnspxMEL6RRfFSL7Fzbce3V3uBaw     7719.31  5007662202119789
9  18wq7MMetvLQ12S5aVSFp1ztkJASy2ADrH      657.75  5108759983537631

In [19]:
df["wire amount"] = df["wire amount"].astype('float')

In [20]:
df.head(10)

                      bitcoin address  wire amount       credit card
0  1J9DVMtgvnPv4KGHL2XSzoTSt5cBBL1DXe      8356.92  3543456448666398
1  1HaiVQbzCTs7t1K1fckYEUi9t8ERBFRR7Q       311.06  3584615208479876
2  1NGPjXfDScEUSZYajAzCkxaVApTbBHC7jP      2032.44  6370577480710876
3  15cSYRTbcrxYinxNxk7VbkPLZG8nypdjy6      8155.74  4508652385157398
4  18j2qG1DH9YduJiBiccAq8Ak897G3E4JyZ      3265.44   374622922103592
5  17js1X5yhuGgcianZctDuZCYN9MhZjemMJ      7582.61  3548758788344311
6  13hzSfBxdQDs4qQTBKJefZNa3BBBUpdsQM      6091.71  5411272786938057
7  13FxRMKPxyjRuHXgxPJyJxuu6UFB1PMHbJ      4018.08  3574760573036422
8  1DupqrXnspxMEL6RRfFSL7Fzbce3V3uBaw      7719.31  5007662202119789
9  18wq7MMetvLQ12S5aVSFp1ztkJASy2ADrH       657.75  5108759983537631

In [23]:
df.dtypes

bitcoin address     object
wire amount        float64
credit card          int64
dtype: object

In [83]:
import random

def makeNumberStr(sep=[',']):
    avantVirgule = str(random.randint(1,1000))
    apresVirgule = '{:02}'.format(random.randint(0,99))
    sep = random.choice(sep)
    return avantVirgule + sep + apresVirgule

col1 = [makeNumberStr() for _ in range(200)]
col2 = [makeNumberStr(['.', ',']) for _ in range(200)]

exo1 = pd.DataFrame(data={"col1":col1,"col2":col2})

In [84]:
exo1["col1"] = exo1["col1"].str.replace(',', '.')
exo1["col2"] = exo1["col2"].str.replace(',', '.')
exo1["col1"] = exo1["col1"].astype('float')
exo1["col2"] = exo1["col2"].astype('float')
exo1.dtypes

col1    float64
col2    float64
dtype: object

In [90]:
import random

def makeNumberStr(sep=[','], signs=['€','$']):
    avantVirgule = str(random.randint(1,1000))
    apresVirgule = '{:02}'.format(random.randint(0,99))
    sep = random.choice(sep)
    sign = random.choice(signs)
    return avantVirgule + sep + apresVirgule + sign

col1 = [makeNumberStr() for _ in range(200)]
col2 = [makeNumberStr(['.', ',']) for _ in range(200)]

exo2 = pd.DataFrame(data={"col1":col1,"col2":col2})

In [95]:
for i in [1,2]:
    exo2['col{}'.format(i)] = exo2['col{}'.format(i)].str.replace(',', '.')
    exo2['col{}'.format(i)] = exo2['col{}'.format(i)].str[:-1]
    exo2['col{}'.format(i)] = exo2['col{}'.format(i)].astype('float')
exo2.head()
exo2.dtypes

col1    float64
col2    float64
dtype: object