In [13]:
import pandas as pd
fp = 'https://bit.ly/vintage-auctions'
df = pd.read_csv(fp)
df.shape

(1000, 6)

In [14]:
df.head()

,tx id,time,auction,color,shirt size,condition
0,8dbf3cfa48b25f32e300f279bb4163c67d5c60cd,3:36 PM,$17.18,Puce,S,used
1,8ccebfdb1a41830bdcc0e926531f3215986b3a90,9:03 AM,$15.19,Aquamarine,L,never worn
2,ae85a421a91cec8baf16ff1e45fb3e239130b584,7:42 PM,$7.58,Violet,L,used
3,85e44f09a04a79182befcfd55e288a855f633e81,10:28 PM,$9.10,Goldenrod,XS,NaN
4,ff750bfca4910cfa7f538fbe5463457839021680,6:38 AM,$8.22,NaN,2XL,used

In [15]:
df.tail()

,tx id,time,auction,color,shirt size,condition
995,6fa16b110f53367cf15e6e1dcffdcb4c2653f1ab,9:56 AM,$5.79,Violet,2XL,NaN
996,2b7b6cbc2224502c7137262575e97a450b336fc2,11:31 AM,$14.07,Purple,S,Used
997,7f2a5141de8a7f752f8f98722393ffa3b0fb1e7a,6:25 AM,$17.63,Yellow,XS,used
998,c4549687dee4d3061fd3c82433367bea083d4d05,2:22 AM,$17.00,Yellow,L,Used
999,abf227d09fe37b3e333b419e0854c6c2fd1caa50,7:47 PM,$17.05,Indigo,XL,used

In [16]:
df.dtypes

tx id         object
time          object
auction       object
color         object
shirt size    object
condition     object
dtype: object

In [44]:
df['time'] = pd.to_datetime(df['time'])
df['auction'] = df['auction'].str.slice(start=1)
df['auction'] = df['auction'].astype('float')

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [45]:
df['condition'] = df['condition'].str.lower()

In [42]:
df['color'] = df['color'].astype('category')
order_size = ['XS','S','M','L','XL','2XL','3XL']
df['shirt size'] = df['shirt size'].astype('category').cat.reorder_categories(order_size).cat.as_ordered()
order_condition = ['never worn', 'used']
df['condition'] = df['condition'].astype('category').cat.reorder_categories(order_condition).cat.as_ordered()

In [30]:
#pd.get_dummies(df, dummy_na=True, columns=['color']).head()

In [43]:
df.dtypes

tx id           object
time            object
auction        float64
color         category
shirt size    category
condition     category
dtype: object

In [24]:
df.head()

,tx id,time,auction,color,shirt size,condition
0,8dbf3cfa48b25f32e300f279bb4163c67d5c60cd,3:36 PM,7.18,Puce,S,used
1,8ccebfdb1a41830bdcc0e926531f3215986b3a90,9:03 AM,5.19,Aquamarine,L,never worn
2,ae85a421a91cec8baf16ff1e45fb3e239130b584,7:42 PM,0.58,Violet,L,used
3,85e44f09a04a79182befcfd55e288a855f633e81,10:28 PM,0.10,Goldenrod,XS,NaN
4,ff750bfca4910cfa7f538fbe5463457839021680,6:38 AM,0.22,NaN,2XL,used

In [29]:
df.dtypes

tx id           object
time            object
auction        float64
color         category
shirt size    category
condition       object
dtype: object